html {
	margin-top: 50px;
	margin-bottom: 0px;
	margin-right: 100px;
	margin-left: 100px;
}

body {
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
}

.gallery {
	display: flex;
	align-items: center;
}

.gallery img {
	margin-left: 5px;
	margin-right: 5px;
}

.order {
	width: auto;
	margin: auto;
	border: 15%;
	border-radius: 15%;
}